<header class="main-header clearfix">
  <h1 class="main-header__title">
    <i class="icon fa fa-cubes"></i>
    All
  </h1>
  <ul class="main-header__breadcrumb" style="margin-top: 3px;">
    <li><span class="page-title-parent-level">Devices List</span></li>
  </ul>
</header>

<div class="row">
  <div class="col-md-12">
    <article class="widget">
      <div class="widget__content">
        <table class="table">
          <thead>
            <tr>
              <th>Category</th>
              <th>MAC Address</th>
              <th>Device Name</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr>
            <tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr>
            <tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr>
            <tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr>
            <tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr>
            <tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr>
            <tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr><tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr><tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr><tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr><tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr><tr>
              <td>Ligthing</td>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Edit</button>
                <button type="button" class="btn btn-light btn-sm" style="float:right">Identify</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
    <!-- /widget -->
  </div>
</div>