<header class="main-header clearfix">
  <h1 class="main-header__title">
    <i class="icon fa fa-home"></i>
    Dashboard <small></small>
  </h1>
</header>

<div class="main-stats row">
  <div class="main-stats__stat col-lg-3 col-md-12 col-sm-12" style="margin-left: 41px;">
    <h3 class="stat__title">Devices</h3>
    <p style="text-align: center; margin-top: 24;"><i class="fa fa-cubes fa-5x"></i></p>
    <div class="stat__number"><span>Auluxa </span>20</div>
    <div class="stat__number"><span>Thrid Party </span>10</div>
  </div>

  <div class="main-stats__stat col-lg-3 col-lg-offset-1 col-md-12 col-sm-12">
    <h3 class="stat__title">Storage</h3>
    <p style="text-align: center; margin-top: 24;"><i class="fa fa-hdd-o fa-5x"></i></p>
    <div class="stat__number"><span>Total </span>1 TB</div>
    <div class="stat__number"><span>Used </span>0.45 TB</div>
  </div>

  <div class="main-stats__stat col-lg-3 col-lg-offset-1 col-md-12 col-sm-12">
    <h3 class="stat__title">Bill</h3>
    <p style="text-align: center; margin-top: 24;"><i class="fa fa-money fa-5x"></i></p>
    <div class="stat__number"><span>Status </span>Paid</div>
    <div class="stat__number"><span>On </span>01-Mar-2016</div>
  </div>
</div>

<div class="main-stats row">
  <div class="main-stats__stat col-lg-3 col-md-12 col-sm-12" style="margin-left: 41px;">
    <h3 class="stat__title">Wireless</h3>
    <p style="text-align: center; margin-top: 24;"><i class="fa fa-wifi fa-5x"></i></p>
    <div class="stat__number"><span>Status </span>Good</div>
  </div>

  <div class="main-stats__stat col-lg-3 col-lg-offset-1 col-md-12 col-sm-12">
    <h3 class="stat__title">Language</h3>
    <p style="text-align: center; margin-top: 24;"><i class="fa fa-language fa-5x"></i></p>
    <div class="stat__number"><span>Selected </span>English</div>
  </div>

  <div class="main-stats__stat col-lg-3 col-lg-offset-1 col-md-12 col-sm-12">
    <h3 class="stat__title">Users</h3>
    <p style="text-align: center; margin-top: 24;"><i class="fa fa-users fa-5x"></i></p>
    <div class="stat__number"><span>Total </span>5</div>
  </div>
</div>