<header class="main-header clearfix">
  <h1 class="main-header__title">
    <i class="icon fa fa-square"></i>
    Add Auluxa
  </h1>
  <ul class="main-header__breadcrumb" style="margin-top: 3px;">
    <li><span class="page-title-parent-level">Device List</span></li>
  </ul>
</header>

<div class="row">
  <div class="col-md-12">
    <article class="widget">
      <header class="widget__header">
        <h3 class="widget__title">Add</h3>
      </header>

      <div class="widget__content">
        <div>
          <dl class="dl-horizontal" style="margin: 2px 0;">
            <dl class="dl-horizontal" style="margin: 2px 0;">
              <dt>
                <p>Time Left (secconds):</p>
              </dt>
              <dd>
                <p>
                  0
                </p>
              </dd>
            </dl>
            <dt>
              <p>Add device time:</p>
            </dt>
            <dd>
              <p>
                <select name="cars" style="border-color: silver; width: 200px;">
                  <option value="volvo">1</option>
                  <option value="saab">Saab</option>
                  <option value="fiat">Fiat</option>
                  <option value="audi">Audi</option>
                </select>
              </p>
            </dd>
          </dl>
          <dl class="dl-horizontal" style="margin: 2px 0;">
            <dt></dt>
            <dd>
              <p>
                <button type="button" class="btn btn-light btn-sm" style="margin-left: 0;">Start</button>
                <button type="button" class="btn btn-light btn-sm">Stop</button>
              </p>
            </dd>
          </dl>
          <dl class="dl-horizontal" style="margin: 2px 0;">
            <dt>
                <p>Use Mac Address</p>
            </dt>
            <dd>
            </dd>
          </dl>
        </div>
      </div>
    </article>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <article class="widget">
      <header class="widget__header">
        <h3 class="widget__title">Recently Added</h3>
      </header>
      <div class="widget__content">
        <table class="table">
          <thead>
            <tr>
              <th>MAC Address</th>
              <th>Device Name</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>097512765032</td>
              <td>Ceiling Ligth</td>
              <td>Switch</td>
            </tr>
          </tbody>
        </table>
        <a>Go To Recently Added</a>
      </div>
    </article>
    <!-- /widget -->
  </div>

</div>