<header class="main-header clearfix">
  <h1 class="main-header__title">
    <i class="icon fa fa-shopping-cart"></i>
    License
  </h1>
  <ul class="main-header__breadcrumb" style="margin-top: 3px;">
    <li><span class="page-title-parent-level">Store</span></li>
  </ul>
</header>

<div class="main-stats row">
  <div class="main-stats__stat col-lg-4 col-lg-offset-2" style="text-align: center;">
    <div class="stat__number"><strong>10 x 3RD Party Devices</strong></div>
    <br>
    <br>
    <div class="stat__number">2 x User Licence</div>
    <br>
    <br>
    <div class="stat__number"><strong>Advanced</strong></div>
    <br>
    <br>
    <div class="stat__number">US5$ per Month</div>
    <br>
    <br>
    <button class="btn btn-skyblue btn-lg"> Purchase </button>
  </div>

  <div class="main-stats__stat col-lg-4 col-lg-offset-1" style="text-align: center;">
    <div class="stat__number"><strong>Unlimited 3RD Party Devices</strong></div>
    <br>
    <br>
    <div class="stat__number">2 x User Licence</div>
    <br>
    <br>
    <div class="stat__number"><strong>Premiun</strong></div>
    <br>
    <br>
    <div class="stat__number">US10$ per Month</div>
    <br>
    <br>
    <button class="btn btn-skyblue btn-lg"> Purchase </button>
  </div>
</div>